# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
   include:
     - master
  paths:
   include:
     - StoreApp
    

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: Release

steps:

- task: UseDotNet@2
  displayName: 'Use .NET 5 SDK'
  inputs:
    packageType: 'sdk'
    version: '5.x'

- task: SonarCloudPrepare@1
  displayName: sonar prepare analysis
  inputs:
    SonarCloud: 'sonarcloud-diposinubi'
    organization: '2011-nov02-net'
    scannerMode: 'MSBuild'
    projectKey: '2011-nov02-net_oladipo-project1'
    projectName: 'StoreApp'

- script: dotnet build --configuration $(buildConfiguration)
  displayName: dotnet build 
  workingDirectory: StoreApp

- task: SonarCloudAnalyze@1
  displayName: sonar run analysis

- task: SonarCloudPublish@1
  displayName: sonar analysis publish
  inputs:
    pollingTimeoutSec: '300'


- task: DotNetCoreCLI@2
  displayName: dotnet test
  inputs:
    command: 'test'
    arguments: '--configuration $(buildConfiguration)'
    publishTestResults: true
    workingDirectory: 'StoreApp'
  
- script: dotnet build --configuration $(buildConfiguration) --output publish
  displayName: dotnet publish
  workingDirectory: StoreApp
- task: AzureRmWebAppDeployment@4
  displayName: azure app service deploy
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'Azure subscription 1(c0f22405-d59c-4823-bfa1-dce6612cb9b8)'
    appType: 'webApp'
    WebAppName: 'osinubi-StoreApp'
    packageForLinux: 'StoreApp/publish'
