@model StoreApp.Web.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}


<h2>Create Order</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="customerSelect">Select Customer</label>
                <select asp-for="Customer" class="form-control" id="customerSelect">
                    @foreach (var customer in Model.Customers)
                    {
                        <option value=@customer.CustomerId>@(customer.FirstName + " " + customer.LastName)</option>
                    }
                </select>
            </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="locationSelect">Select location</label>
                    <select asp-for="Location" class="form-control" id="locationSelect">
                        @foreach (var location in Model.Locations)
                        {
                            <option value=@location.LocationId>@location.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>
