@model StoreApp.Web.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}


<h2>Create Order</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="CustomerId" class="control-label">Select Customer</label>
                <select asp-for="CustomerId" class="form-control" id="CustomerId">
                    @foreach (var customer in Model.Customers)
                    {
                        <option value=@customer.CustomerId>@(customer.FirstName + " " + customer.LastName)</option>
                    }
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LocationId" class="control-label">Select location</label>
                <select asp-for="LocationId" class="form-control" id="LocationId">
                    @foreach (var location in Model.Locations)
                    {
                        <option value=@location.LocationId>@location.Name</option>
                    }
                </select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>
